h1 {
    background-color: aqua;
}
.yam{
    background-color: rgb(153, 54, 54);
    width: 100%;
    height: 50px;
    border-radius: 10px;
}
.yam p{
    text-align: center;
    padding: 15px;
    font-size: 20px;
    color: antiquewhite;
}

.image {
    margin-top: 20px;
    margin-left: 150px;
}

.image img{
    justify-content: center;
}

body{
    background-color: cadetblue;
}

.som {
    margin-top: 20px;
    margin-left: 450px;
}